<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
	<div class='container'>
		<% include partials/menu %>
		<h3> Show student page </h3>
		<h4> Details Of Class </h4>
		<table class="table table-striped">
  		<thead>
    		<tr>
      		<th scope="col">Name of Class </th>
      		<th scope="col"> Name of Tutor </th>
      		<th scope="col"> Tutor's Subject</th>
    		</tr>
  		</thead>
  		<tbody>
  				<tr>
      			<td><%=classWithTeacherInfo.name%></td>
      			<td><%=classWithTeacherInfo.teacher_docs[0].name%></td>
      			<td><%=classWithTeacherInfo.teacher_docs[0].subject%></td>
      		</tr>
    	</tbody>
    </table>
    <h4> List Of Students </h4>
    <% let url = `/classes/deleteStudent/${classWithTeacherInfo.id}?_method=DELETE`; %>
    <form action=<%=url%> method="POST">
    	<div class="form-row">
    		<div class="form-group col-md-6">
      		<label>Name of Student </label>
    		</div>
    		<div class="form-group col-md-3">
      		<label> Age </label>
    		</div>
    		<div class="form-group col-md-3">
      		<label> Select to Delete </label>
    		</div>
  		</div>
  		<% for(let i = 0; i < classWithStudentInfo.length; i++) { %>
  			<div class="form-row">
    			<div class="form-group col-md-6">
      			<%=classWithStudentInfo[i].student_docs[0].name%>
    			</div>
    			<div class="form-group col-md-3">
      			<%=classWithStudentInfo[i].student_docs[0].age%>
    			</div>
    			<div class="form-group col-md-3">
      			<input type="Checkbox" name=<%=i%> value=<%=classWithStudentInfo[i].student_docs[0].id%>>
    			</div>
  			</div>
  		<% } %>
  		<button type="submit" class="btn btn-info">Delete students</button>
  	</form>
  </div>
</body>
<% include partials/script %>
</html>